<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{% block title %} {% endblock %} </title>
<!-- Bootstrap -->
<link href="/static/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="/static/css/bootstrap-theme.css" type="text/css">

<style type="text/css">
        @media (min-width: 768px){
            #left_body{
                width: 250px;
                margin-top: 51px;
                position: absolute;
                z-index: 1;
            }
            .mysearch{ margin:10px 0px }
            .page_main{
                margin-left: 260px;
            }

        }
        th{
            text-align: center;
        }
        .margin_left_span{
            margin-left: 46px;
        }
    </style>


</head>
<body>

</body>
</html>