<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>标签页</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="../css/bootstrap-theme.css" type="text/css">
    <script type="application/javascript" src="../js/jquery-1.12.4.js"></script>
    <script language="JavaScript" src="../js/bootstrap.js"> </script>
</head>
<body>
<div class="container">
    <div class="row ">
        <div class="col-md-2">
            <img  src="../img/ab.jpg" width="100px" height="100px" class=" img-responsive img-circle">
        </div>
        <div class="col-md-9">

        </div>
        <div class="col-md-1">
            <div>
                <a href="#" >
                    <span class="glyphicon glyphicon-off""></span>
                    注销
                </a>
            </div>
        </div>
    </div>


</div>

</body>
</html>