<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>文字排版</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="../css/bootstrap-theme.css" type="text/css">
</head>
<body>
    <div class="container">
        <ul>  <!--ul是无序列表-->
            <li>中国</li>
            <li>美国</li>
            <li>应该</li>
        </ul>
    <ol>  <!--ul是有序列表-->
        <li>中国</li>
        <li>美国</li>
        <li>应该</li>
    </ol>
        <!--去点列表-->
        <ul class="list-unstyled">
            <li>中国</li>
            <li>美国</li>
            <li>应该</li>
        </ul>

        <!-- 水平列表-->
        <ul class="list-unstyled list-inline">
            <li><a href="#">中国</a> </li>
            <li><a href="#">美国</a> </li>
            <li><a href="#">应该</a> </li>
        </ul>
        <hr/>
        <dl class="dl-horizontal">
            <dt>台湾</dt>
            <dd>台湾是中国的一部分</dd>
            <dt>日本</dt>
            <dd>日本也是中国的一部分</dd>
        </dl>

    </div>
</body>
</html>