<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>下来框</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="../css/bootstrap-theme.css" type="text/css">
</head>
<body>
<div class="container">
    <form>
    <div>
        <textarea rows="1" cols="12" class="form-control">我们的</textarea> <!-- 这里的cols没有作用了-->
    </div>
    <div class="col-md-8">
        <select name="SElect"> <!--name用来传到后台是的标签，下面的value是这个name变量的值-->
            <option value="中国">中国</option>
            <option value="美国">美国</option>
            <option value="ab">ab</option>
        </select>

    </div>
        <hr/>
        <select multiple >
            <option value ="volvo">Volvo</option>
            <option value ="saab">Saab</option>
            <option value="opel">Opel</option>
            <option value="audi">Audi</option>
        </select>
    </form>


</div>

</body>
</html>