<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>表格</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="../css/bootstrap-theme.css" type="text/css">
</head>
<body >
<div class="container">
    <input type="text" placeholder="用户名">
    <span style="color: red" class="help-block">通常这里用于提示</span>
</div>
    <a href="www.baidu.com" class="btn btn-primary">跳转百度</a>
</body>
</html>