<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>文字排版</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="../css/bootstrap-theme.css" type="text/css">
</head>
<body>
    <div class="container">
        <img src="../img/ab.jpg" class="hidden img-responsive">
        <hr/>
        <img src="../img/ab.jpg" width="110px" height="110px" class=" img-responsive img-circle">

    <hr/>
        <!-- 文本颜色，背景-->
        <p class="text-success">成功色</p>
        <p class="text-warning">警告色</p>
        <p class="text-danger">危险色</p>
        <p class="text-primary">主要蓝</p>

        <!-- 这里的bg-primary只有在vserion 3.3.4才支持-->
        <p class="bg-primary">aahahaha啊哈哈</p>
        <br/>
        <span class="text-primary">我是sapn标签</span>
   <hr/>
        <p class="close">&times;</p>

        <!-- 用于展开 -->
        <span class="caret">展开</span>
    </div>
    <hr/>
<div>
    <p class="pull-left">左浮动相当于float:left</p>
    <p class="pull-right">左浮动相当于float:right</p>
</div>

</body>
</html>