<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>盒子模型</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="../css/bootstrap-theme.css" type="text/css">
</head>
<body>
<div class="container">
    <div style="width: 20%;float: left">
        <ul class="list-unstyled">
            <li>中国</li>
            <li>美国</li>
            <li>应该</li>
        </ul>
    </div>
    <div style="width: 80%;float: left">
        <dl class="dl-horizontal">
            <dt>台湾</dt>
            <dd>台湾是中国的一部分</dd>
            <dt>日本</dt>
            <dd>日本也是中国的一部分</dd>
        </dl>
        <table class="table">
            <tr>
                <th>主机总数</th>
                <th>监控组</th>

            </tr>

        </table>
    </div>
</div>

</body>
</html>