<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>文字排版</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="../css/bootstrap-theme.css" type="text/css">
</head>
<body>
    <div class="container">
        <div class="row">
        <div class="col-sm-4">
            <img src="../img/01.png" class="img-responsive"/>
        </div>
            <div class="col-sm-8">
                <h1>标题1</h1>
                <h2>标题1</h2>
                <h3>标题1</h3>
                <h4>标题1</h4>
                <h5>标题1</h5>
                <h6>标题1</h6>

                <!-- 文本对齐方式  lead是着重描述，text-center为对齐位置-->
                <p class="lead text-center" >
                    014年9月22日 - Bootstrap---Fluid layout 流布局,流布局是一种适应屏幕的做法。即不固定块的宽度,而是采用百分比作为单位来确定每一块的宽度。这种布局非常适合一次...
                </p>
            </div>
    </div>
    </div>

</body>
</html>