<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>折叠样式---导航栏</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="../css/bootstrap-theme.css" type="text/css">
    <script type="application/javascript" src="../js/jquery-1.12.4.js"></script>
    <script language="JavaScript" src="../js/bootstrap.js"> </script>
</head>
<body>
<div class="container">
    <button class="btn btn-success" data-toggle="collapse" data-target="#show1">折叠样式</button>
    <div id="show1" class="collapse">
        <div class="well">
            显示的内容。
        </div>

    </div>
    <hr/>

    <hr/>

    <div class="panel-group">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a href="#" data-toggle="collapse" data-target="#hide_body">栏目管理</a>
                </h4>
            </div>

            <div class="collapse panel-collapse " id="hide_body">
                <div class="panel-body">
                 <ul >
                   <li > <a class="#">添加 </a></li>
                    <li><a class="#">添加 </a></li>
                 </ul>
                </div>

            </div>
        </div>
    </div>
    <hr/>
    <div class="panel-group">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a href="#" data-toggle="collapse" data-target="#hide_body2">栏目管理</a>
                </h4>
            </div>

            <div class="collapse panel-collapse " id="hide_body2">
                <div class="panel-body">
                    <ul >
                        <li > <a class="#">添加 </a></li>
                        <li><a class="#">添加 </a></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
    <hr/>
    <div class="panel-group">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a href="#" data-toggle="collapse" data-target="#hide_body3">栏目管理</a>
                </h4>
            </div>

            <div class="collapse panel-collapse " id="hide_body3">
                <div class="panel-body">
                    <ul >
                        <li > <a class="#">添加 </a></li>
                        <li><a class="#">添加 </a></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>


</body>
</html>