<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>标签页</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="../css/bootstrap-theme.css" type="text/css">
    <script type="application/javascript" src="../js/jquery-1.12.4.js"></script>
    <script language="JavaScript" src="../js/bootstrap.js"> </script>
</head>
<body>
<div class="container">
    <ul class="nav nav-pills row"> <!-- 胶囊可以使用class= “nav-pill” -->
        <li style="text-align: center" class="col-md-2"><a href="#pan1" data-toggle="tab">check</a></li>
        <li style="text-align: center" class="col-md-2"><a href="#pan2" data-toggle="tab">add_monitor</a></li>
        <li style="text-align: center" class="col-md-2"><a href="#pan3" data-toggle="tab">action</a></li>
        <li style="text-align: center" class="col-md-2"><a href="#pan4" data-toggle="tab">mail</a></li>
    </ul>

    <div class="tab-content" >
        <div class="tab-pane active" id="pan1">
            文件中列出了 Bootstrap 所支持的 jQuery 版本
        </div>
        <div class="tab-pane" id="pan2">
            某些件的，请赖 jQuery
            也就是说，jQuery必须在所有插件之前引入页面）。 bower.json 文件中列出了 Bootstrap 所支持的 jQuery 版本
        </div>
        <div class="tab-pane" id="pan3">
            某些插件和 CSS 组件依赖于其它插件。）。 bower.json 文件中列出了 Bootstrap 所支持的 jQuery 版本
        </div>
        <div class="tab-pane" id="pan4">
            了 Bootstrap 所支持的 jQuery 版本

        </div>
    </div>
</div>
</body>
</html>