<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>小图标</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="../css/bootstrap-theme.css" type="text/css">
</head>
<body>
<div class="container">
    <span class="glyphicon glyphicon-envelope"> 邮件</span>
<hr/>
    <div class="btn-toolbar">
        <div class="btn-group">
            <a href="#" class="btn btn-primary"><span class="glyphicon glyphicon-star" >Star</span></a>
            <a href="#" class="btn btn-default"><span class="glyphicon glyphicon-eye-open">Eye</span></a>
            <a href="#"class="btn btn-success"><span  class="glyphicon glyphicon-folder-open">folder</span></a>
        </div>
    </div>

  <div class="col-md-3 col-md-offset-2">
    <div class="input-group">
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-star">
            </span>
        </span>
        <input type="text" class="form-control">
    </div>
  </div>
</div>


</body>
</html>