<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>下来菜单</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="../css/bootstrap-theme.css" type="text/css">
    <script type="application/javascript" src="../js/jquery-1.12.4.js"></script>
    <script language="JavaScript" src="../js/bootstrap.js"> </script>
</head>
<body>
<div  class="container">
    <div class="dropdown">
         <button type="button" class="btn btn-info" data-toggle="dropdown">
            下来框
            <span class="caret"></span>
        </button>
        </ul>
        <ul class="list-unstyled dropdown-menu ">

            <li class="active"><a href="#">中国</a></li>
            <li class="divider"> </li>
            <li class="btn-primary "><a href="#">美国</a></li>
            <li class="divider"> </li>
            <li><a href="#">英国</a></li>
        </ul>
    </div>

</div>
</body>
</html>