<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>导航</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="../css/bootstrap-theme.css" type="text/css">
    <script type="application/javascript" src="../js/jquery-1.12.4.js"></script>
    <script language="JavaScript" src="../js/bootstrap.js"> </script>
</head>
<body>
<div class="container">
    <h1>选项卡式导航</h1>
    <ul class="nav nav-tabs">
        <li class="active" ><a href="#">首页</a></li>
        <li  ><a href="#">首页</a></li>
        <li  ><a href="#">首页</a></li>
    </ul>

    <h1>下来式二级菜单</h1>
    <ul class="nav nav- stacked">
        <li class="active"  data-toggle="dropdown"><a href="#">首页</a></li>
          <li>
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">下来菜单</a>
            <ul class="dropdown-menu">
                <li><a href="#" class="btn-success form-control">二级导航</a></li>
                <li>><a href="#" class="btn-success form-control">二级导航</a></li>
                <li>><a href="#" class="btn-success form-control">二级导航</a></li>
            </ul>
          </li>

        <li  ><a href="#">首页</a></li>
        <li  ><a href="#">首页</a></li>
    </ul>


    <h2>胶囊是导航</h2>
    <ul class="nav nav-pills">    <!-- 这里的nav-pills并没有提示!-->
        <li class="active" ><a href="#">首页</a></li>
        <li  ><a href="#">首页</a></li>
        <li  ><a href="#">首页</a></li>
    </ul>
    <h2>堆叠式-竖直型</h2>
    <ul class="nav nav-pills nav-stacked">    <!-- 这里的nav-pills并没有提示!-->
        <li class="active" ><a href="#">首页</a></li>
        <li  ><a href="#">首页</a></li>
        <li  ><a href="#">首页</a></li>
        </ul>
    <h2>自适应导航</h2>
    <ul class="nav nav-pills nav-justified">    <!-- 这里的nav-pills并没有提示!-->
        <li class="active" ><a href="#">首页</a></li>
        <li  ><a href="#">首页</a></li>
        <li  ><a href="#">首页</a></li>
</div>
</body>
</html>