<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>导航条</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="../css/bootstrap-theme.css" type="text/css">
    <script type="application/javascript" src="../js/jquery-1.12.4.js"></script>
    <script language="JavaScript" src="../js/bootstrap.js"> </script>
</head>
<body>
 <div class="container">
    <h1>我就是h1<span class="label label-success">傻逼</span></h1>
 </div>
    <hr/>
    <a href="#">收到的回复<span class="badge">15</span></a>
</body>
</html>