<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>缩略图与警告框</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="../css/bootstrap-theme.css" type="text/css">
    <script type="application/javascript" src="../js/jquery-1.12.4.js"></script>
    <script language="JavaScript" src="../js/bootstrap.js"> </script>
</head>
<body>
 <div class="container">
    <div class="row">
        <div class="col-md-2">
            <a href="#" class="thumbnail">
            <img data-src="/img/Batman.jpg" alt="bbx">
            </a>
        </div>
    </div>


 </div>
</body>
</html>